.main {
    display: flex;
    justify-content: center;
    font-family: 'Arimo', sans-serif;
  }
  .color-guide {
    margin: 20px 40px;
  }
  h5{
    margin-bottom: 10px;
  }
  .user {
    padding: 7px 15px;
    border-radius: 4px;
    color: black;
    font-size: 13px;
    font-weight: bold;
    background: #fad8d6;
    margin: 10px 0;
  }
  .guest {
    background: #cd5334;
    color: white;
  }